---
author: Jeffrey Elkner
title: Markdown Slide Presentations
description: Links to Markdown Slide Decks 
design: black 
---


<!DOCTYPE html>
<html>
<head>
{% include head.html %}
</head>
<body>
<a class="github-fork-ribbon right-top" href="{{site.githuburl}}" data-ribbon="Improve me on GitHub" title="Improve me on GitHub">Improve me on GitHub</a>
<div class="reveal">
<div class="slides">
<section id="overview" data-markdown data-separator="\n---\n">
<script type="text/template">
# Markdown Slides
by Jeffrey Elkner
<br>
* [Coops and Socialism]({{site.baseurl}}/coops_and_socialism)
* [Thesis Helper]({{site.baseurl}}/thesis-helper) 
<br>
</script>
</section>
{{ content }}
</div>
</div>
{% include script.html %}
</body>
</html>
