---
author: Jeffrey Elkner
title: Markdown Slide Presentations
description: Links to Markdown Slide Decks 
design: black 
---


<!DOCTYPE html>
<html>
<head>
{% include head.html %}
</head>
<body>
<a class="github-fork-ribbon right-top" href="{{site.githuburl}}" data-ribbon="Improve me on GitHub" title="Improve me on GitHub">Improve me on GitHub</a>
<div class="reveal">
<div class="slides">
<section id="overview" data-markdown data-separator="\n---\n">
<script type="text/template">
# Markdown Slides
by Jeffrey Elkner
<br>
* [Big-O]({{site.baseurl}}/big_o) *2022-01-18*
<br>
* [A Minimalist Unit Test Workflow in C]({{site.baseurl}}/unit_test_workflow)
*2022-01-24*
<br>
* [Coops and Socialism]({{site.baseurl}}/coops_and_socialism) *2022-01-08*
<br>
</script>
</section>
{{ content }}
</div>
</div>
{% include script.html %}
</body>
</html>
